body {
  background-image: url("https://cdn.guff.com/site_1/media/27000/26848/items/50f5cec6326a33c1f50b2a90.jpg");
  text-align: center;
  padding-bottom: 2em;
}

h1, h2, h3, h4 {
  background-color: black;
  color: red;
  padding: 0.3em;
  border-radius: 5px;
}

p {
  background-color: black;
  color: white;
}

a {
  color: red;
  text-decoration: overline;
}

footer {
  background-color: black;
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  width: 100%;
}

label {
  color: white;
}

.flash-message {
  border: solid green 2px;
  color: green;
}

.flash-error {
  border: solid red 2px;
  color: red;
}
