<h1>Edit <%= @scary_movie.title %></h1>

<form action="/scary-movies" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="title" value="<%= @scary_movie.title %>" placeholder="movie title">
  <input type="number" name="scariness_rating" value="<%= @scary_movie.scariness_rating %>" placeholder="movie scariness">

  <input type="submit" value="Submit">
</form>

<footer>scary_movies#edit</footer>
