<h1>All The Scary Movies</h1>

<%= link_to "Add a Movie", scary_movies_path %>

<% @scary_movies.each do |movie| %>

  <!-- <a href="/scary-movies/<%= movie.id %>"><%= movie.title %></a> -->
  <%= link_to movie.title, scary_movie_path(movie) %>

  <br><br>

<% end %>

<footer>scary_movies#index</footer>
