<h1>Add A Movie!</h1>

<%= form_with model: @scary_movie do |f| %>
  <%= f.text_field :title %>
  <%= f.number_field :scariness_rating %>
  <%= f.submit %>
<% end %>

<footer>scary_movies#new</footer>
