<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>'Za Palace</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="background-mask"></div>

    <div class="wrapper">

      <nav>
        <% if logged_in? %>
        <a href="/pizzas/new">Order a 'Za</a>
        <a href="/pizzas">See Your Orders</a>
        
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Logout">
        </form>

        <% else %>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <% end %>
      </nav>

      <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>'Za Palace</strong></small>
      </footer>
    </div>
  </body>
</html>
