<h1>Build A Bird</h1>

<form action="/birds" method="post">
  <input type="text" name="name" placeholder="name">
  <input required type="text" name="color" placeholder="color">
  <input required type="number" name="wingspan" placeholder="wingspan">
  <input required type="text" name="region" placeholder="region">
  <input type="submit" value="Make Your Bird!">
</form>
