<h3>Create Your 'Za Order Here!</h3>

<form action="/pizzas" method="post">
  <label for="pizza[cheese]">Cheese: </label>
  <input type="text" name="pizza[cheese]" value="<%= @pizza.cheese %>">
  <br>
  <label for="pizza[topping]">Topping: </label>
  <input type="text" name="pizza[topping]" value="<%= @pizza.topping %>">
  <br>
  <label for="pizza[sauce]">Sauce: </label>
  <input type="text" name="pizza[sauce]" value="<%= @pizza.sauce %>">
  <br>
  <input type="submit" value="Order Your 'Za!">

</form>
