#game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: solid solid black 2px;
}

.card {
  border: solid black 2px;
  margin: 2em;
  padding: 2em;
  text-align: center;
}

.unflipped {

}

.flipped {

}
