body {
  margin: 0;
  background-image: url("https://www.calleadesign.co.uk/media/catalog/product/cache/2/thumbnail/1024x/17f82f742ffe127f42dca9de82fb58b1/1/0/10-209-5.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
