@media screen {
  /* --- General Rules --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    color: white;
    background: black;
  }

  h1 {
    color: white;
    text-shadow: 0 2px grey;
  }

  body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("/images/starmap.webp");
    padding-top: 2em;
    background-repeat: no-repeat;
  }

  .wrapper {
    background: #0009;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-shadow: 0 2px black;
  }

  /* --- Nav Bar --- */

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    padding: 0.3em;
    text-align: left;
    border-bottom: solid white 2px;
  }

  nav a {
    padding-left: 5em;
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    text-shadow: 0 2px black;
  }

  /* --- Container --- */

  .container img {
    width: 80%;
    border: solid white 4px;
  }
