<h1>Name A New Star</h1>

<form action="/stars" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="">Lightyears:</label>
  <input type="text" name="light_years">
  <input type="submit" value="Make a Star!">

</form>
