<h2>Review for <%= @review.boardgame.name %></h2>

<p><%= @review.content %></p>

<%= link_to "Back to reviews", boardgame_reviews_path(@review.boardgame.id) %>
<br>

<%= link_to "Go to #{@review.boardgame.name}", boardgame_path(@review.boardgame) %>
