<h2>Create Your Account</h2>

<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="text" name="user[email]" placeholder="email">
  <input type="text" name="user[password]" placeholder="password">

  <input type="submit" value="Sign Up">
</form>
