body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  background-image: url('https://motionarray.imgix.net/preview-585264-X6ESSkHPwr-high_0000.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  color: white;
  font-family: 'Architects Daughter', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
