<div class="container">
  <h1><%= "Pizza Shop" %></h1>
  <% google = "http://google.com" %>
  <a href="<%= google %>">Go to google</a>
  <br>
  <% [1,2,3].each do |i| %>
    <p><%= i %></p>
  <% end %>
</div>
