<!DOCTYPE html>

  <head>
    <meta charset="utf-8" />
    <title>SinatraStarMapper</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <a href="/">Home</a>
        <a href="/stars">Stars Index</a>
        <a href="/stars/new">New Star</a>
      </nav>

        <%= yield %>

    </div>
  </body>

</html>
